html {
  
    margin:center;
    padding:0;
    height: 100vw;
    width: 100vw;
    background-color: white;
  }
  
  header, footer{

    justify-content:center; 
     place-content:center;
    margin: center;
    
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  #wrapper {
    display: flex;
    grid-template-columns: 5vw,15vw, 18vw, 15vw;  
    flex-direction: column;
    height: 100vh;
    
  }
  
  main {
    /* display: flex; */
    /* flex: 1; */
    display: grid;
    
  }
  #servers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }
  #servers ul {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  #servers li {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  #chat-window {
    display:flex;
    flex-direction: column;
    flex: 5;
  }
  #chats {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
  }
  #message-box {
    display: flex;
    align-items: center;
  }
  #channels, #users {
    flex: 1;
  }