html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #0e2a58;
  max-width: 1000px;
  color: #efefef;
}

.header {
  display: block;
  /* flex-wrap: wrap; */
  text-align: center;
  color: #FFFF;
}


main {
  background-color: #17458f;
}

.banner {
  display: block;
  max-width: 1000px;
  margin: 0px;
}
/* navigation */
.navigation {
  @font-face {
    font-family: playfair;
    src: url('resources\Playfair-VariableFont_opsz,wdth,wght.ttf');
  }
  color: #efefef;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 0.5em;

  /* background-color: #17458f; */
}
.navigation.navigation:selected{

  color:#fff;
}


/* input tag styling */
.first {
  width: 100 vw;
  border-radius: 16px;
  font-weight: bold;
}

.last {
  width: 100 vw;
  border-radius: 16px;
  font-weight: bold;
}

.ID {
  width: 100 vw;
  border-radius: 16px;
  font-weight: bold;
}
/*.signIn{
  border-radius: 16px;
  background-color:white;
  position:relative;
  width: 100px;
  font-weight: bold;
  color: #17458f;
}
 
a.button{
  border: solid white;
  background-color: white;
  color:#17458f;
  width: 75%;
  border-radius: 16px;
  font-weight: bold;
  
}
*/

/* admin home grid styling */
.adminHome{
display: grid;
grid-template-rows: 1fr 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr;
}

.header{

  
}

.actorView{

  
}

.actorTrack{

  
}

.addPlay{

  
}

.addActor{

  
}

.footer1{

  
}

/* actor home grid styling */

.actorHome{
display: grid;
grid-template-rows: 1fr 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr;
}

.header2{

  
}

.myPlays{

  
}

.myAttendance{

  
}

.quickLinks{

  
}

.footer2{

  
}